body {
  font-family: Arial, sans-serif;
  background-color: #9a031e;
  color: #333;
  margin: 0;
  background-color: rgba(235, 241, 243, 0.895);
  background-size:cover ;
}
header {
  color: #ec8619;
  text-align: center;
}
section#login {
  max-width: 400px;
  margin: 100px auto 0; /* Adjust the margin-top value to lower or raise the login box */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;

}

button:hover {
  background-color: #10ca10;
  transition: background-color 0.3s;
}

a {
  color: #333;
  text-decoration: none;
}
a:hover{
  color: rgb(255, 51, 0);
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

